/* 
 =========================================================
 |                                                       |
 |        pLm coming soon page design get started        |
 |                                                       |
 =========================================================
 
 // Author	 : Jo Nathan
 // M.A.J 	 : 28 11 2015 23h17 by JNathan
 // Generated: Notepad++

 ----------------------------------------------------------
 This how is the page is structured,
 whenever for everyone who just want to contribuate.
 For the moment the project is maintained 
 by JNathan and SpiderWeb.
 ----------------------------------------------------------
 -body
	-wrapper
		-header
		-main
			-aside-left	
				-message_bloc
				-subscribe_bloc
			-aside-right
				-assets_for_handy
		-footer
			-footer-top
				-about_pLm
				-social_hub
			-footer-bottom
				-copyrights
 */
  
/* 
 ***************************************************************
 Before we start styling, let's just call somes personnels fonts
 ---------------------------------------------------------------
 */
  @font-face{
	  
 font-family:'CHOPS';
    src: url('fonts/ChopinScript.ttf');
	
 font-family:'AardvarkBold';
	src: url('fonts/AadvarkBold.ttf');
 
 font-family:'Visitor TT1 BRK';
	src: url('fonts/Visitor1.ttf');
 font-family:'Ailerons';
	src: url('fonts/Ailerons.otf');
 font-family:'Junction Regular';
  src: url('fonts/Junction Regular.otf');
  
 font-family:'Moon';
	src: url('fonts/Moon.otf');
	
 font-family:'Nickainley Normal';
	src: url('fonts/Nickainley Normal.otf');
}
/*
   ===========================
   | Design of the container |
   ===========================
  [body--wrapper--header--main]
*/ 
 
body{
	margin:0;
	padding:0;
	background:url('../picx/bg-soon0.jpg');
	background-position:top;
	font-family:consolas,'AardvarkBold','Visitor TT1 BRK';
	font-weight:normal;
	font-size:12px;
}  
#wrapper{
	width:1107px;
	margin:0 112px 0;
	padding:1px;
	border:red solid 3px;
	background-color:rgba();
	background-color:#C91F37;
}
 header{
	 width:100%:;
	 height:87px;
	 margin:7px 7px 17px;
	 padding:3px;
	 background-color:#9D2933;
	 border:1px solid #8F1D21;
 }
 main{
	 border:3px solid #F2F1EF;
	 padding:0;
}

/*
 
	============================
	|  Design of the Layouts   |
    ============================
		[aside1-aside2]
	
*/

/*
	------------------------------
				Aside1 
	------------------------------
*/ 
  .left_bloc{
  border:3px solid #8F1D21;
  display:inline-block;
  padding:4px;
  position:absolute;
}
 
 .left_bloc>.message_bloc{
	 border:1px solid red;
	 display:inline-block;
	 padding:4px;
	 width:617px;
	 height:317px;
	 margin-bottom:7px;
}
 .left_bloc>.message_bloc>h1{
	 border:1px white solid;
	 margin-top:7px;
	 font-family:'Visitor TT1 BRK','ChopinScript','AardvarkBold';
	 font-weight:;
	 font-size:110px;
	 color:rgba(0,0,0,0.3);
}
 .left_bloc>.subscribe_bloc{
	 border:1px red solid;
	 padding:4px;
	 margin-top:7px;
	 ackground-color:rgba(201,31,55,0.9);
}
 .subscribe_form{
	  width:597px;
	  border-radius:5px 5px 5px 5px;
	  border-width:;
	  border-style:solid;
	  border-color:rgba(201,31,55,0.4);
	  background-color:rgba(201,31,55,0.7);
	  padding:4px 4px 4px;
}
 input[type="email"]{
	   width:477px;
	   height:39px;
	   border-radius:5px 5px 5px 5px;
	   border-style:solid;
	   border-color:rgba(201,31,55,0.1);
	   box-shadow:0 2px 3px #a91126;
	   font-family:'ChopinScript';
	   font-size:22px;
	   color:black;
}

 input[type="submit"]{
	 border-radius:5px 5px 5px 5px;
	 border-style:solid;
	 border-color:rgba(201,31,55,0.7);
	 box-shadow:2px 2px 3px #a91126;
	 font-family:'ChopinScript';
	 font-size:27px;
	 color:rgba(0,0,0,0.5);
	 
 }
 .submit_btn{
	 padding-bottom:2px;
	 width:107px;
	 background-color:rgba(201,31,55,0.7);
}

 /*
 
	--------------------------
	|         aside 2        |
	--------------------------
	#1fa67a
*/
.right_bloc{
	display:inline-block;
	border:3px solid #9D2933;
	margin-left:547px;
}
 .assets_for_handy{
	margin-top:-127px;
	position:relative;
}

/* 
  ========================================
  |		  Design of the footer           |
  ========================================
 */
 
 footer{
	margin-top:1px;
	border:3px solid #D2D7D3;
	background-color:#006442;
	box-shadow:0 2px 3px #a91126;
}

 #footer-top{
	 padding:7px 7px 7px 7px; 
	 background-color:#049372;
	 margin-top:57px;
	 border:2px solid #26C281;
 }

  #footer-top>p{
	 width:477px;
	 border:1px solid white;
	 font-family:'Dosis','Exo','Junction Regular','Ailerons';
	 font-size:17px;
	 text-align:justify;
	 padding:7px;
	 word-wrap:break word;
}
	#footer-top>p>span{
		font-family:'Great Vibes';
		float:right;
	}
  
 
